@{
    ViewData["Title"] = "Application Submitted";
}

@model MovieCollection.Models.Movie

    <div class="text-center">
        <h2>@Model.Title has been added to the collection!</h2>
        <h3>Thank you!</h3>
    </div>


