@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>

    <img src="~/img/Joel Hilton.jpg" alt="Joel Hilton Image" height="400" />

    <h2>This is a collection of my favorite films.</h2>
    <h2>I hope you enjoy these fantastic films.</h2><br />
</div>

<div class="text-center">
    <a class="button btn-dark padded" asp-controller="Home" asp-action="MovieList">Movie Collection</a>
</div>
