@{
    ViewData["Title"] = "My Podcasts";
}

<div class="text-center">
    <h1 class="display-4">My Podcasts</h1>
    <img src="~/img/Baconsale.png" width="500" />
    <p>View Podcasts <a href="https://baconsale.com/">here</a>.</p>
</div>